<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="applicationLoggerTest01" type="AllWayNet.Logger.ApplicationLoggerSection, AllWayNet.Logger" />
    <section name="applicationLogger" type="AllWayNet.Logger.ApplicationLoggerSection, AllWayNet.Logger" />
  </configSections>

  <appSettings>
    <add key="TestValue" value="true" />
  </appSettings>
  
  <applicationLoggerTest01>
    <implementers>
      <implementer name="logger1" type="type1" />
      <implementer name="logger2" type="type2" />
    </implementers>
  </applicationLoggerTest01>

  <applicationLogger>
    <implementers>
      <implementer name="loggerA" type="AllWayNet.Logger.Test.LoggerImplementer01, AllWayNet.Logger.Test" />
      <implementer name="loggerB" type="AllWayNet.Logger.Test.LoggerImplementer02, AllWayNet.Logger.Test" />
    </implementers>    
  </applicationLogger>

</configuration>